.text .description {
  margin-top: 20px;
}

.details {
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.tag p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.details span {
  color: #ddd;
  font-size: 14px;
}

.details .user {
  margin: 0;
}

.name {
  margin-bottom: 0px;
}

.edit button {
  background-image: linear-gradient(180deg, #651ec2, #731ac0);
  color: #fff;
  cursor: pointer;
}

.deletebtn button {
  background-color: #323232;
  color: #fff;
  cursor: pointer;
}
