.bg {
  background-image: url("../../../public/images/background.png");
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.recentblogs {
  margin-top: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 30px 40px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  justify-content: center;
  gap: 30px;
}

.home-container h2 {
  font-size: 32px;
  margin-bottom: -10px;
}

.line {
  width: 1.5px;
  height: 170px;
  background-color: #fff;
  margin-left: -20px;
  margin-top: -25px;
  position: absolute;
}

.white-fill {
  background-color: #fff;
  color: #000;
  padding: 10px 40px;
  font-family: "Cabin", sans-serif;
  border-radius: 90px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.home-container p {
  font-weight: 400 !important;
}

.white-outline {
  background-color: transparent;
  padding: 10px 30px;
  font-family: "Cabin", sans-serif;
  border-radius: 90px;
  border: 2px solid #fff;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

a {
  color: inherit !important;
}

.search-title {
  margin-top: 165px;
  width: 85%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 90px;
  margin-left: auto;
  margin-right: auto;
}

.search-title input {
  background-color: transparent;
  width: 70%;
  border: 0;
  outline: none;
}

.search-title button {
  border-radius: 90px;
  padding: 10px 28px;

  border: none;
  background-image: linear-gradient(180deg, #651ec2, #731ac0);
  color: #fff;
}

.link {
  margin-top: 2px;
}
