.card {
  margin-top: 20px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 50px;
  border-radius: 20px;
}

.approve {
  background-color: #323232;
  margin: 0;
  padding: 7px 30px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  color: #fff;
  font-family: "Cabin", sans-serif;
}

.card:hover {
  background-color: #1c1c1c;
}

.card p {
  margin: 0;
}

.card h2 {
  font-size: 28px;
  padding: 0 !important;
  margin: 0;
}

.posted-by {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-posted {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.username {
  font-size: 14px;
  color: #ababab;
}

.date {
  font-weight: 500;
  color: #c2c2c2;
}

.description {
  color: #ababab;
}

.tags {
  margin-top: 5px;
}

.tags-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
