.compose {
  position: absolute;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  margin-top: 150px;
  padding: 40px 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1a1a1a;
  border-radius: 20px;
  padding-bottom: 100px;
}

.name span {
  color: #ddd;
  font-size: 14px;
}

.compose .name {
  margin-top: -8px;
  padding-bottom: 5px;
}

.user {
  font-size: 16px;
  color: #8b8b8b;
  margin-bottom: 5px;
  margin-left: 0px;
}

.inputtags {
  background-color: #232323;
  caret-color: #fff;
  width: 300px;
  margin-left: -2px;
  color: #fff;
}

.inputtitle::placeholder {
  color: #ababab;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btns button {
  padding: 8px 35px;
  border: none;
  font-family: "Cabin", sans-serif;
  border-radius: 5px;
}

.publish button {
  background-image: linear-gradient(180deg, #651ec2, #731ac0);
  color: #fff;
  cursor: pointer;
}
.compose .inputtitle {
  background-color: transparent;
  font-size: 36px;
  font-weight: 600;
  padding: 0;
  outline: none;
  border: none;
  caret-color: #fff;
  color: #fff;
  width: 140%;
  text-overflow: ellipsis;
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btns {
  margin-top: 10px;
}

.cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.text {
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
  width: 95%;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
  background-color: transparent;
  caret-color: #fff;
  font-family: "Cabin", sans-serif;
  color: #ababab;
  height: 100vh;
}
