.individualUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.individualUser .row {
  align-items: center;
  gap: 3px;
}

.individualUser p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;
}

.icon2 {
  transform: scale(140%);
}

.dltuser {
  margin-right: 10px;
}

.userlist {
  margin-top: 25px;
  color: #989898;
  margin-bottom: -15px;
}

.dltuser:hover {
  cursor: pointer;
}

.individualUser .name {
  font-size: 18px;
}

.userBox {
  padding: 20px 25px;
  margin-top: 8px;
  border-radius: 5px;
  background-color: #1a1a1a;
}

.userBox:hover {
  background-color: #1f1f1f;
}
