.dropdown {
  min-width: 80px;
  position: relative;

  user-select: none;
  z-index: 999;
}

.dropdown * {
  box-sizing: border-box;
}

span {
  font-weight: 400;
  text-decoration: none;
}

.select {
  background: #252525;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
  border-radius: 5px;
  padding: 8px 30px;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 2px #00000020 solid;
  box-shadow: 0 0 0.8em #00000020;
}

.select:hover {
  background: #323232;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.dropdowncontent {
  list-style: none;
  background-color: #232323;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #a0a0a0;
  width: 100%;
  margin-top: 3px;
  position: absolute;
  z-index: 1;
}

.dropdowncontent li {
  padding: 13px 30px;
  cursor: pointer;
  border-radius: 5px;
  list-style: none;
  font-size: 16px;
}

ul {
  padding: 0;
}

.dropdowncontent li:hover {
  background: #323232;
  transition: all 0.2s;
}

.active {
  background-color: #323232;
}
