.content {
  width: 100%;
  height: auto;
  padding: 0px;
}

.tagInput {
  width: 100%;
  height: auto;
  background-color: #232323;
  padding: 3px 5px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.taginput:focus-within {
  border: 1px solid #232323;
}

.tagInput input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 40%;
  font-family: "Cabin", sans-serif;
  color: white;
}

.tagInput button {
  color: #eee;
  background-color: #353535;
  outline: none;
  border: none;
  margin: 5px 4px;
  border-radius: 5px;
  padding: 5px 15px;
  font-family: "Cabin", sans-serif;
  display: flex;
}

.tagInput button span {
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}

.delete {
  transform: translateY(2px);
}

.delete {
  scale: 130%;
}
